<h4>Current Inventory</h4>

<p id="notice"><%= notice %></p>
<h1>
<%= form_tag inventories_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>
</h1>

<p></p>
<table>
  <thead>
    <tr>
      <th>Model</th>
      <th> Color </th>
      <th> VIN </th>
      <th> MSRP </th>
      <th> Sale Price </th>
      <th> Final Total with Tax </th>
      <th colspan="6"><h4><%= link_to '[Add a Vehicle]', new_inventory_path %></h4></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td class="col-md-1"><%= inventory.model %></td>
        <td class="col-md-1"><%= inventory.color %></td>
        <td class="col-md-1"><%= inventory.vin %></td>
        <td class="col-md-1"><%= number_to_currency(inventory.msrp) %></td>
        <td class="col-md-1"><%= number_to_currency(inventory.sale_price) %></td>
        <td ><%= number_to_currency(inventory.price_with_tax) %></td>
        <td ><%= link_to ' View ', inventory %></td>
        <td ><%= link_to ' Edit ', edit_inventory_path(inventory) %></td>
        <td ><%= link_to ' Delete ', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>



