<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @inventory.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @inventory.color %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @inventory.vin %>
</p>

<p>
  <strong>MSRP:</strong>
  <%= number_to_currency(@inventory.msrp) %>
</p>

<p>
  <strong>Sale Price:</strong>
  <%= number_to_currency(@inventory.sale_price) %>
</p><p>
  <strong>Price with Tax:</strong>
  <%= number_to_currency(@inventory.price_with_tax) %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
