<h4>Financial Dashboard</h4>
<br><br>
<table>
  <thead>
  <tr>
    <th>Total Gross Revenue</th>
    <th>Current Net Profit</th>
    <th>Sales Tax Total</th>
    </th><th colspan="2">
  </tr>
  </thead>

  <tbody>

      <tr>
        <td class="col-md-4"><%= number_to_currency(Sale.where( :status => ["Sold"]).sum(:total)) %></td>
        <td class="col-md-4"><%= number_to_currency((Sale.where( :status => ["Sold"]).sum(:total))/10) %></td>
        <td class="col-md-2"><%= number_to_currency((Sale.where( :status => ["Sold"]).sum(:total))/23) %></td>

      </tr>
  </tbody>
</table>