<h4>Customer List</h4>
<p id="notice"><%= notice %></p>
<h1>
  <%= form_tag customers_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
  <% end %>
</h1>

<p></p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th colspan="3"><h4><%= link_to '[Add a Customer]', new_customer_path %></h4></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td class="col-md-3"><%= customer.name %></td>
        <td class="col-md-2"><%= customer.phone %></td>
        <td><%= customer.address %></td>
        <td><%= link_to 'View', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

