<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vehicle %><br>
    <%= f.collection_select :vehicle, Inventory.all,:vehicle, :vehicle, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= f.text_field :total, :remote => true %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select :customer_id, Customer.all,:id,:name, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.collection_select :employee_id, Employee.all,:id,:name, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select(["Quote", "Sold"]) %>
  </div>
    <div class="field">
      <%= f.label :interest_rate_percentage %><br>
      <%= f.number_field :interest_rate, :remote => true %>
    </div>
    <div class="field">
      <%= f.label :number_of_years %><br>
      <%= f.select :num_years, options_for_select(["3", "4", "5"]), :prompt => true %>
    </div>
<br>
    <div id="loan-table" class="table-format"></div>
    <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

