<table class="CSSTableGenerator" width="30%">
  <th><center>Month Number</center></th>
  <th><center>Payment Amount</center></th>
  <% @rate_array.each_with_index do |p,n|  %>
      <tr>
        <td><center><%= n+1 %></center></td>
        <td><center><%= number_to_currency(p) %></center></td>
      </tr>
  <% end %>

</table>
