<h4>Listing Sales</h4>
<p></p>
<table>
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Total</th>
      <th>Customer</th>
      <th>Employee</th>
      <th>Status</th>
      <th colspan="3"><h4><%= link_to '[New Sale]', new_sale_path %></h4>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td class="col-md-1"><%= sale.vehicle %></td>
        <td class="col-md-2"><%= number_to_currency(sale.total) %></td>
        <td class="col-md-2"><%= sale.customer.name %></td>
        <td class="col-md-2"><%= sale.employee.name %></td>
        <td><%= sale.status %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
