<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @sale.vehicle %>
</p>

<p>
  <strong>Total:</strong>
  <%= number_to_currency(@sale.total) %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer.name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @sale.employee.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sale.status %>
</p>



<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', inventories_path %>
