<!DOCTYPE html>
<html>
<head>
  <title>DealerSys</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar do %>

    <%end%>
  <div class="container">

    <%= yield %>

</div>



<%= nav_bar fixed: :top, brand: "Dealership Management System", brand_link: root_path do %>
    <%= menu_group do %>
        <%= menu_item "Dashboard", root_path %>
        <%= menu_item "Inventory", inventories_path %>
        <%= menu_item "Customers", customers_path %>
        <%= menu_item "Sales", "sales?status=Sold" %>
        <%= menu_item "Quotes", "sales?status=Quote" %>
        <%= menu_item "Employees", employees_path %>


<% end %>
<% end %>

<div class="content">


</div>
</body>
</html>

